*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.topHeading{
    padding: 20px 0px 30px 0px;
}

.main{
    display: flex;
    
    padding: 30px;
}

.heading1{
    border: 2px solid black;
    border-top:0px ;
    border-right: 0px;
    padding: 0px 20px;
    background-color: coral;
}

.heading2{
    border: 2px solid black;
    border-top:0px ;
    border-right: 0px;
    padding: 0px 20px;
    background-color: thistle;
}

.heading3{
    border: 2px solid black;
    border-top:0px ;
    border-right: 0px;
    padding: 0px 20px;
    background-color: bisque;
}

.chicken{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border: 2px solid black;
    margin: 0px 30px 0px 0px;
    background-color: darkgray;
    overflow: hidden;
}

.beef{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border: 2px solid black;
    margin: 0px 30px 0px 0px;
    background-color: darkgray;
    overflow: hidden;
    
}

.sushi{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border: 2px solid black;
    margin: 0px 30px 0px 0px;
    background-color: darkgray;
    overflow: hidden;
    
}

.para{
    padding: 10px;
}

/* media Quries */


/* For Mobile */

@media (max-width: 767px){
    .main{
        flex-direction: column;
    }
    .beef{
        margin: 15px;
    }
    .chicken{
        margin: 15px;
    }
    .sushi{
        margin: 15px;
    }
}

/* For Tablet */

@media (min-width: 768px) and (max-width: 991px){
    .main{
        display: grid;
        grid-template-columns: 1fr 1fr ;
    }
    .sushi{
        margin-top: 20px;
        grid-column-start: 1;
        grid-column-end: 3;
    }
}
